### **IBM DATA ANALYST CAPSTONE PROJECT WEEK 2**

# **Data Wrangling Lab**

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

Load the dataset into a dataframe.

In [24]:
df = pd.read_csv(
    "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"
)
df.shape

(11552, 85)

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [25]:
print("There are", df.duplicated().sum(), "duplicate rows.")
print("There are", df.duplicated("Respondent").sum(), "duplicate Respondants.")

There are 154 duplicate rows.
There are 154 duplicate Respondants.

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [21]:
df.drop_duplicates(inplace=True)
df.shape

(11398, 86)

Verify if duplicates were actually dropped.

In [22]:
print("There are now", df.duplicated().sum(), "duplicate rows.")
print("There are", df.duplicated("Respondent").sum(), "duplicate Respondants.")

There are now 0 duplicate rows.
There are 0 duplicate Respondants.

## Finding Missing values

Find the missing values for all columns.

In [26]:
with pd.option_context("display.max_rows", None, "display.max_columns", None):
    print(df.isnull().sum())

Respondent                   0
MainBranch                   0
Hobbyist                     0
OpenSourcer                  0
OpenSource                  81
Employment                   0
Country                      0
Student                     53
EdLevel                    116
UndergradMajor             740
EduOther                   164
OrgSize                     98
DevType                     67
YearsCode                    9
Age1stCode                  13
YearsCodePro                16
CareerSat                    0
JobSat                       1
MgrIdiot                   498
MgrMoney                   502
MgrWant                    498
JobSeek                      0
LastHireDate                 0
LastInt                    423
FizzBuzz                    37
JobFactors                   3
ResumeUpdate                41
CurrencySymbol               0
CurrencyDesc                 0
CompTotal                  815
CompFreq                   206
ConvertedComp              822
WorkWeekHrs                125
WorkPlan                   123
WorkChallenge              168
WorkRemote                   8
WorkLoc                     32
ImpSyn                       5
CodeRev                      1
CodeRevHrs                2469
UnitTests                   29
PurchaseHow                198
PurchaseWhat                38
LanguageWorkedWith          11
LanguageDesireNextYear     137
DatabaseWorkedWith         456
DatabaseDesireNextYear    1055
PlatformWorkedWith         422
PlatformDesireNextYear     561
WebFrameWorkedWith        1413
WebFrameDesireNextYear    1634
MiscTechWorkedWith        2209
MiscTechDesireNextYear    1474
DevEnviron                  29
OpSys                       34
Containers                  82
BlockchainOrg             2354
BlockchainIs              2637
BetterLife                 100
ITperson                    35
OffOn                       38
SocialMedia                301
Extraversion                20
ScreenName                 513
SOVisit1st                 325
SOVisitFreq                  5
SOVisitTo                    1
SOFindAnswer                 3
SOTimeSaved                 51
SOHowMuchTime             1936
SOAccount                    1
SOPartFreq                1148
SOJobs                       6
EntTeams                     5
SOComm                       0
WelcomeChange               89
SONewContent              1995
Age                        297
Gender                      75
Trans                      123
Sexuality                  547
Ethnicity                  683
Dependents                 144
SurveyLength                19
SurveyEase                  14
dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [27]:
print(
    "There are", df["WorkLoc"].isnull().sum(), "missing values in the column 'WorkLoc'"
)
print(
    "There are", df["EdLevel"].isnull().sum(), "missing values in the column 'EdLevel'"
)
print(
    "There are", df["Country"].isnull().sum(), "missing values in the column 'Country'"
)

There are 32 missing values in the column 'WorkLoc'
There are 116 missing values in the column 'EdLevel'
There are 0 missing values in the column 'Country'

Find the  value counts for the column WorkLoc.

In [28]:
print("There are", df["WorkLoc"].nunique(), "unique Work Locations in the survey:")

print("\nWorkLoc                                    value count")
print("-------                                    -----------")
print(df["WorkLoc"].value_counts())

print(
    "\n\nThere are",
    df["Employment"].nunique(),
    "unique Employment values in the survey:",
)

print("\nEmployment        value count")
print("----------        -----------")
print(df["Employment"].value_counts())

print(
    "\n\nThere are",
    df["UndergradMajor"].nunique(),
    "unique UndergradMajor values in the survey:",
)

print("\nUndergradMajor        value count")
print("---------------        -----------")
print(df["UndergradMajor"].value_counts())

There are 3 unique Work Locations in the survey:

WorkLoc                                    value count
-------                                    -----------
WorkLoc
Office                                            6905
Home                                              3638
Other place, such as a coworking space or cafe     977
Name: count, dtype: int64


There are 2 unique Employment values in the survey:

Employment        value count
----------        -----------
Employment
Employed full-time    11113
Employed part-time      439
Name: count, dtype: int64


There are 12 unique UndergradMajor values in the survey:

UndergradMajor        value count
---------------        -----------
UndergradMajor
Computer science, computer engineering, or software engineering          7053
Information systems, information technology, or system administration     806
Another engineering discipline (ex. civil, electrical, mechanical)        769
Web development or web design                                             417
A natural science (ex. biology, chemistry, physics)                       409
Mathematics or statistics                                                 375
A business discipline (ex. accounting, finance, marketing)                247
A social science (ex. anthropology, psychology, political science)        212
A humanities discipline (ex. literature, history, philosophy)             209
Fine arts or performing arts (ex. graphic design, music, studio art)      165
I never declared a major                                                  126
A health science (ex. nursing, pharmacy, radiology)                        24
Name: count, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [30]:
# make a note of the majority value here, for future reference
# The most frequent value in WorkLoc column is Office 6806

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [31]:
import numpy as np

workloc_highest = "Office"

missing_data = df.isnull()
# print(missing_data.head(5))

print("\nValue counts for missing data in WorkLoc:\n")
print(missing_data["WorkLoc"].value_counts())


print("\nHere are the first 10 rows missing values for WorkLoc:")
print(df[missing_data["WorkLoc"]][["Respondent", "WorkLoc"]].head(10))

df["WorkLoc"].replace(np.nan, workloc_highest, inplace=True)

Value counts for missing data in WorkLoc:

WorkLoc
False    11520
True        32
Name: count, dtype: int64

Here are the first 10 rows missing values for WorkLoc:
      Respondent WorkLoc
130          285     NaN
242          550     NaN
866         1847     NaN
1455        2826     NaN
1753        3536     NaN
2339        4768     NaN
2689        5562     NaN
2788        5769     NaN
3165        6613     NaN
3213        6721     NaN

C:\Users\n1lbi\AppData\Local\Temp\ipykernel_1756\3857252622.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['WorkLoc'].replace(np.nan, workloc_highest, inplace=True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [18]:
missing_data = df.isnull()
print("WorkLoc")
print(missing_data["WorkLoc"].value_counts())
print("")
print("WorkLoc")
print(df["WorkLoc"].value_counts())

WorkLoc
WorkLoc
False    11398
Name: count, dtype: int64

WorkLoc
WorkLoc
Office                                            6838
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: count, dtype: int64

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [19]:
print("CompFreq")
print(df["CompFreq"].value_counts())

CompFreq
CompFreq
Yearly     6073
Monthly    4788
Weekly      331
Name: count, dtype: int64

Create a new column named 'NormalizedAnnualCompensation'.

In [23]:
df.loc[df["CompFreq"] == "Yearly", "NormalizedAnnualCompensation"] = 1 * df["CompTotal"]
df.loc[df["CompFreq"] == "Monthly", "NormalizedAnnualCompensation"] = (
    12 * df["CompTotal"]
)
df.loc[df["CompFreq"] == "Weekly", "NormalizedAnnualCompensation"] = (
    52 * df["CompTotal"]
)


df[["CompTotal", "CompFreq", "NormalizedAnnualCompensation"]].head(20)

df["NormalizedAnnualCompensation"].median()

100000.0